# media working files
assets/_sergei_raw
assets/_sergei_raw.jpg
assets/_sergei_resized.jpg
assets/_sergei_square.jpg
assets/banner_tmp.jpg
assets/_banner_raw
assets/_banner_raw.jpg
assets/_banner_resized.jpg
# media working files
assets/_sergei_*
assets/_banner_*
assets/banner_tmp.jpg
